:root{
    --primary-color: #b9c6d2;
    --secondary-color: #d0dde9;
    --third-color: darkblue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: var(--primary-color);
     background: linear-gradient( 180deg,var(--primary-color),var(--secondary-color),var(--third-color));
     min-height: 100vh;
     display: flex;
     justify-content: center;
     margin: 10vh;
}
